<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:inline="javascript">

    const a = /*[[${groups}]]*/ null;
    const b = /*[[${paramMap}]]*/ null;
    const c = /*[[${categories}]]*/ null;
    const d = /*[[${spu}]]*/ null;
    const e = /*[[${spuDetail}]]*/ null;
    const f = /*[[${skus}]]*/ null;
    const g = /*[[${brand}]]*/ null;


    //特有规格参数集合
    const specialSpec = JSON.parse(/*[[${spuDetail.specialSpec}]]*/ "");

    let indexes = {};

    Object.keys(specialSpec).forEach(key => {
        indexes[key] = 0;
    })

    //公有规格参数集合
    const genericSpec = JSON.parse(/*[[${spuDetail.genericSpec}]]*/ "");

</script>
<body>

</body>
</html>